.mantine-19pz3dh {
  padding-top: 10px;
  z-index: 2000;
}
.mantine-1k9itrp {
  line-height: 1;
  padding: 10px;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
}
.mantine-1q36a81 {
  padding: 1px;
}
